.user-card {
    background-color: white;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bienvenida {
        font-size: 10px;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 5px;
    }

    .user-icon {
        width: 30px;
        height: auto;
    }

    .bolsa-compras {
        width: 30px;
        height: auto;
    }
}