.div-quienes-somos-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    .quienes-somos-text {
        text-align: left;

        span {
            font-size: 19px;
            font-style: italic;
        }
    }
}