// El _ al inicio le dice a SCSS que es un "partial" (archivo auxiliar)

@mixin btn-continuar-retroceder {
    align-self: flex-end;
    margin-top: 16px;
    width: fit-content;
    padding: 8px 24px;
    background-color: #A2CE46;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
        background-color: #0db534;
    }
}