.layout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    .layout-80{
        width: 80%;
        height: 100%;
        background-color: #A2CE46;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .layout-margin {
            width: 95%;
            height: calc(100% - 20px);
            margin-top: 20px;
            div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                // gap: 1vw;
                .categorias-menu {
                    width: 200px;
                    display: flex;
                    flex-direction: row;
                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        gap: 10px;
                        // margin-top: clamp(10px, 9vh, 120px);
                        margin-top: 102px;
                        padding-left: 10px;
                        width: 100%;
                        height: fit-content;
                        li {
                            height: 20px;
                            cursor: pointer;
                            color: white;
                            background-color: #EC008C;
                            text-align: center;
                            padding: 5px 0;
                            border-radius: 10px;
                            display: flex;           
                            justify-content: center; 
                            align-items: center;     
                        }
                    }
                }
                .carrusel-layout{
                    width: calc(100% - 200px);
                    min-width: 0; // importante en flex para evitar overflow
                    // overflow: hidden; // recorta cualquier desborde
                    margin-left: 2vw;
                }
            }
        }
    }
}