.navbar {
    background-color: #EC008C;
    height: 25%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-img {
            margin-left: 5%;
            width: 100%;      // Ocupa el 100% del ancho de su contenedor (el div padre)
            max-width: 600px; // ¡OJO! No crecerá más de esto aunque la pantalla sea gigante
            height: auto;     // Mantiene la proporción original (evita que se vea estirada)
            z-index: 999;
        }
    }
    .paginas {
        width: 60%;
        margin-left: 25px;
        ul {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style: none;
            gap: 20px;
            li {
                height: 15px;
                width: auto;
            }
        }
    }
    .redes-sociales {
        width: 10%;
        ul {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style: none;
            gap: 10px;
            justify-content: flex-end;
            li {
                height: 1.75rem;
            }
        }
    }
}