.page-section {
    width: 100%;
    /* ocupa todo el ancho del carrusel-layout */
    height: auto;
    /* altura según su contenido */
    background-color: #FFFCD5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */

    .div-verde {
        background-color: #7AB433;
        height: 30px;
        width: 100%;
    }

    .div-contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .page-section-images {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .bgImage {
                width: 100%;
                height: auto;
                display: block;
            }

            .page-section-header {
                position: absolute;
                /* flota encima del bgImage */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                /* centrado perfecto */
                /* ajusta el tamaño según necesites: */
                width: 20vw;
                height: auto;
            }
        }

        .linea-marron {
            width: 95%;
            height: 1px;
            background-color: #7AB433;
            margin-top: 43px;
            margin-bottom: 20px;
        }

        .div-contenido {
            width: 90%;
        }
    }
}